<div class="row">
  <div class="col-md-6">
    <p class="lead">Concept search</p>

    <div class="form-horizontal">
      <div class="form-group">
        <input type="text" class="form-control" id="terms" ng-model="vm.parameters.terms" placeholder="Search concepts">
      </div>

      <div class="form-group">
        <label>More inputs go here</label>
        <input type="text" class="form-control" id="dummy" placeholder="???">
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <p class="lead">Concept aggregation</p>

    <div class="form-horizontal">
      <div class="form-group">
        <label>More inputs go here</label>
        <input type="text" class="form-control" id="dummy2" placeholder="???">
      </div>
    </div>
  </div>
</div>
