<div class="row form-horizontal col-md-12">
  <p class="lead" uib-popover-html="vm.tooltips['seedConcept']"
        popover-trigger="click" popover-placement="bottom">Concept search</p>
  <div class="form-group col-md-11">
    <input type="text" ng-model="vm.parameters.terms" class="form-control" id="terms" placeholder="Search concepts">
  </div>

  <div class="form-group col-md-1">
    <button type="button" class="btn btn-primary" ng-click="vm.toggleOpen()"> + </button>
  </div>

  <div uib-collapse="!vm.isOpen" class="col-md-12">
    <div class="form-group form-inline col-md-4">
      <label uib-popover-html="vm.tooltips['maxTerms']"
            popover-trigger="click" popover-placement="bottom" for="maxConcepts">Max terms</label>
      <input type="number" ng-model="vm.parameters.maxTerms" min="1" max="20" class="form-control" id="maxConcepts">
    </div>

    <div class="form-group form-inline col-md-4">
      <label uib-popover-html="vm.tooltips['maxRelatedTerms']"
            popover-trigger="click" popover-placement="bottom" for="maxRelatedTerms">Max related terms</label>
      <input type="number" ng-model="vm.parameters.maxRelatedTerms" min="1" max="20" class="form-control" id="maxRelatedTerms">
    </div>

    <div class="form-group form-inline col-md-4">
      <label uib-popover-html="vm.tooltips['minSim']"
            popover-trigger="click" popover-placement="bottom" for="minSim">Minimum concept similarity</label>
      <input type="number" ng-model="vm.parameters.minSim" min="0.1" max="10.0" step="0.1" class="form-control" id="minSim">
    </div>

    <div class="form-group form-inline col-md-4">
      <label uib-popover-html="vm.tooltips['wordBoost']"
            popover-trigger="click" popover-placement="bottom" for="wordBoost">Word boost</label>
      <input type="number" ng-model="vm.parameters.wordBoost" min="0.1" max="10.0" step="0.1" class="form-control" id="wordBoost">
    </div>

    <div class="form-group form-inline col-md-4">
      <label uib-popover-html="vm.tooltips['boostMethod']"
            popover-trigger="click" popover-placement="bottom" for="boostMethod">Boost method</label>
      <select ng-model="vm.parameters.boostMethod" name="boostMethod" class="form-control">
        <option data-ng-repeat="method in vm.boostMethods" value="{{ method }}">{{ method }}</option>
      </select>
    </div>

    <div class="form-group form-inline col-md-4">
      <label uib-popover-html="vm.tooltips['algorithm']"
            popover-trigger="click" popover-placement="bottom" for="algorithm">Algorithm</label>
      <select ng-model="vm.parameters.algorithm" name="algorithm" class="form-control" >
        <option data-ng-repeat="algo in vm.algorithms" value="{{ algo }}">{{ algo }}</option>
      </select>
    </div>

    <div class="form-group form-inline col-md-4">
      <label uib-popover-html="vm.tooltips['direction']"
            popover-trigger="click" popover-placement="bottom" for="forward">Track direction</label>
      <select ng-model="vm.parameters.forwards" name="forward" class="form-control">
        <option data-ng-repeat="dir in vm.directions" value="{{ dir }}">{{ dir }}</option>
      </select>
    </div>

    <div class="form-group form-inline col-md-4">
      <label uib-popover-html="vm.tooltips['yearsInInterval']"
            popover-trigger="click" popover-placement="bottom" for="yearsInterval">Years in interval</label>
      <input type="number" ng-model="vm.parameters.aggYearsInInterval" min="1" max="10" step="1" class="form-control" id="yearsInterval">
    </div>

    <div class="form-group form-inline col-md-4">
      <label uib-popover-html="vm.tooltips['wordsPerYear']"
            popover-trigger="click" popover-placement="bottom" for="wordsPerYear">Words per year</label>
      <input type="number" ng-model="vm.parameters.aggWordsPerYear" min="1" max="100" step="1" class="form-control" id="wordsPerYear">
    </div>

    <div class="form-group form-inline col-md-4">
      <label uib-popover-html="vm.tooltips['weighFunc']"
            popover-trigger="click" popover-placement="bottom" for="aggWeighFunc">Weighing function</label>
      <select ng-model="vm.parameters.aggWeighFunction" name="aggWeighFunc" class="form-control">
        <option data-ng-repeat="wFunc in vm.weighFuncs" value="{{ wFunc }}">{{ wFunc }}</option>
      </select>
    </div>

    <div class="form-group form-inline col-md-4">
      <label uib-popover-html="vm.tooltips['wFParam']"
            popover-trigger="click" popover-placement="bottom" for="aggWFParam">Function shape</label>
      <input type="number" ng-model="vm.parameters.aggWFParam" min="1" max="10" step="0.1" class="form-control" id="aggWFParam">
    </div>

    <div class="form-group form-inline col-md-4" ng-if="vm.features.canClean">
      <label uib-popover-html="vm.tooltips['doCleaning']"
            popover-trigger="click" popover-placement="bottom" for="doCleaning">Do cleaning ?</label>
      <select ng-model="vm.parameters.doCleaning" name="doCleaning" class="form-control">
        <option data-ng-repeat="opt in vm.doCleaning" value="{{ opt }}">{{ opt }}</option>
      </select>
    </div>

    <div class="form-group col-md-11">
      <label uib-popover-html="vm.tooltips['yearPeriod']"
            popover-trigger="click" popover-placement="bottom" for="doCleaning">Year period</label>
      <rzslider rz-slider-model='vm.years.from'
                rz-slider-high='vm.years.to'
                rz-slider-options='vm.years.options'
                ></rzslider>
    </div>
  </div>
</div>
